body{
    margin:0;
    font-family:Arial;
    background:#111;
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    background:#1b1b1b;
}

ul{
    display:flex;
    gap:25px;
    list-style:none;
}

a{
    color:white;
    text-decoration:none;
}

header{
    height:80vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

h2{
    font-size:55px;
}

button{
    padding:15px 35px;
    background:#2e8b57;
    border:none;
    color:white;
    border-radius:8px;
    cursor:pointer;
}
